
/*@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {  }*/

/* Set the background color of body to tan */


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .login-box{
        padding-top: unset;
    }
    .signup-box {

         width: 50%;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .signup-box {

        width: 85%;
    }
}